@font-face {
    font-family: myfont;
    src: url(../../static/font/Drakalligro.otf) format("opentype");
  }
body {
    background-image: url("../../static/images/blur_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /*  background της ιστοσελίδας */
    color: rgb(0, 0, 0);
    font-family: myfont, Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    /* Μέγεθος, font και χρώμα γραμματοσειράς */
    line-height: 1.4em
      /* κενό που υπάρχει από γραμμή σε γραμμή κειμένου */
  }


/* Μέθοδος "περιορισμού" της ιστοσελίδας στο 80% του συνολικού χώρου */
.page {
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
/*Styles για την γραμμή*/
#line {
  border: 0.1px solid #756c59;
  margin-bottom: 20px;
}
  /* Στην ουσία είναι το "κουτί" που περιβάλλει όλο το περιεχόμενο της ιστοσελίδας */
  .box-1 {
    background-color: #fff5e7;
    border: #756c59 solid;
    border-width: 5px;
    padding: 0px;
  }
  .main-info {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;
  
  }
/* Ο κάθε τίτλος στο πάνω μέρος της σελίδας */
.main-title {
    text-align: center;
    color: #724734;
    font-size: 40px;
    margin-top: 5px;
    line-height: 1em;
}
  
  
  #main-description {
    display: flex;
    justify-content: center;
}

.main-footer {
    background-color: #000000;
    padding-bottom: 3px;
    text-align: center;
    color: #dac399;
    grid-area: footer;
    /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
  }
  
  .main-footer a:hover {
    color: #edeae5;
    /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
  }
  
  .main-footer a {
    color: #dac399;
    /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
  }
  
.main-categories{
  display: flex;
}
.category-item{
  text-align: center;
  padding: 13px;
}
.category-item img{
  border: #33322f solid;
  border-width: 3px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}
.category-item img:hover {
  transform: scale(1.05); 
}
/* Style for the subcategory list items */
#subcategory-item {
  list-style: none; /* Remove the default list styles */
  margin: 5px 0; /* Adjust margin as needed */
  padding: 8px; /* Add padding for better spacing */
  background-color: #d2c1b0; /* Background color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add pointer cursor for interaction */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for subcategory list items */
#subcategory-item:hover {
  background-color: #a16641; /* Change background color on hover */
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* CSS */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#756c59, #5c584f);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: myFont;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 5px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}


@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}





.main-category-ads{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns per row */
  grid-gap: 30px; /* Optional gap between grid items */
}
.category-ad {
  text-align: center;
  justify-content: center;
  border: 3px solid #756c59; /* Example border style */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Optional padding to give space inside the border */
  margin-bottom: 10px; /* Optional margin to create space between category-ad divs */
}
.main-subcategory-ads{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  grid-gap: 10px; /* Optional gap between grid items */
}
.subcategory-ad {
  text-align: center;
  justify-content: center;
  border: 3px solid #756c59; /* Example border style */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Optional padding to give space inside the border */
  margin-bottom: 10px; /* Optional margin to create space between category-ad divs */
}

/* Τα παρακάτω αφορούν τον πίνακα με τα χαρακτηριστικά του αμαξιού */
.features-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;


}

/* Ανα μια γραμμή να έχει διαφορετικό χρώμα εναλλάξ */
.features-table tr:nth-child(even) {
  background-color: #dac399;
}


.features-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Τα αριστερά να είναι bold */
.features-table td:first-child {
  font-weight: bold;
}

.features-table tr:hover {
  background-color: #e0e0e0;
}

.features-table td {
  border: 2px solid #756c59;
}
.images-box{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  grid-gap:5px; /* Optional gap between grid items */
}
.images-box img{
  border: #33322f solid;
  border-width: 3px;
  transition: transform 0.3s ease; 
}
.images-box img:hover {
  transform: scale(1.0125); 
}
.blurred{
  filter: blur(5px);
}
.login-container {
  display: none;
  position:absolute;
  top: 10%;
  right: 40%;
  background-color: #fff;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  justify-self: center;
  
  
}
.login-container h2 {
  text-align: center;
  
}
.login-container form {
  display: flex;
  flex-direction: column;
}
.login-container label {
  margin-bottom: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.login-container input[type="submit"] {
  background-color: #a7998c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-container input[type="submit"]:hover {
  background-color: #a16641;
}

.user-id{
  text-align: center;
}